@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet');

html,
body {
  margin: 0 auto;
  padding: 0 !important;
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 1920px;
  height: 100%;
}

h1,
h2,
p,
.button {
    font-family: 'Roboto', sans-serif;   
}

.h1, h1 {
    font-size: 3rem;
}

.h2, h2 {
    font-size: 2rem;
}

.section {
    width: 1920px;
    padding: 0;
}
.container {
    margin: 0px auto;
    padding: 0px 20px;
    max-width: 1200px
}

.section_first {
    background: #EEEFF1;
}  

.logo_menu,
.write_me {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin-top: 57px;
}

.write_me {
    margin-bottom: 146px;
}

.navbar {
    padding: 0;
    margin-top: 79px;
}

.navbar li {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    border: 0;
    outline: none;
    margin-right: 36px;   
}

.nav-link  {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 26px;
    color:sienna;  
}

.dropdown-menu {
    display: none;
    border: none;
    outline: none;
    /*margin-left: -1em;*/
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 600;
}
  
#dropdownMenuButton {
    position: absolute;
    top: 1em;
    background-color: #ffffff;
    color: #000000;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.row_2 {
    margin-top: 162px;
}

p,
h1 {
    margin-bottom: 60px;
}

.button_write {
    width: 225px;
    height: 65px;
    background: #34547A;
    color: #ffffff;
}

.about_me {
    margin-top: 112px;
}

h2 {
    margin-bottom: 50px;
}

.p_text {
    text-align: center;
    margin-bottom: 100px;
}

.section_third {
    background:  #34547A;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 30px;
}

.img_gallery {
    width: 46.6px;
    height: 50px;
}

.p_project {
    color: #ffffff;
}

.section_fifth {
    background: #EEEFF1;
}

.work {
    margin-top: 100px;
}

.row_8 {
    margin-top: 100px;
}

.video {
    margin-bottom: 100px;
}

.gallery_2 {
    display:flex;
}

.table {
    width: 300px;
    height: 300px;
    padding: 0px;
    margin: 0px;
}

.table_1 {
    width: 300px ;
    height: 300px;
    padding: 0px;
    margin: 0px;
}

.color {
    display: block;
    width: 300px;
    height: 300px;
    background-image: url(/img/laptop.png);
    background-size: cover;
}

.color::before {
    display: block;
    width: 300px;
    height: 300px;
    background-color: sienna;
    opacity: 0.8;
    z-index: 0;
}

.micro {
    width: 230px;
    height: 120px;
}

.microsoft {
    display:flex;
}

#inputMessage {
    height: 175px;
}

.section_eight {
    background-color: #EEEFF1;
}

.row_13 {
    margin-top: 100px;
}

.section_nine {
    background-color: #34547A;
}

.contacts {
    color: #EEEFF1;
    justify-content: space-between;
    width: auto;
    display: flex;
}
.img_vk {
    width: 43.75px;
    height: 22.82px;
}

.row_9 {
    margin-top: 50px;
}

.container_1 {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.copyright {
    margin-top: 50px;
}

.image {
    margin-top: 50px;
}
